<form method="post" action="{{ path('app_chant_delete', {'id': chant.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer ce chant ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chant.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
