<form method="post" action="{{ path('app_artiste_delete', {'id': artiste.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet artiste ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artiste.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
