{% extends 'base.html.twig' %}

{% block title %}Edition d'un artiste{% endblock %}

{% block body %}
    <div class="container mt-2">
        <h2>Artistes</h2>
        {{ include('artiste/_form.html.twig') }}
        {# {{ include('artiste/_delete_form.html.twig') }} #}
    <div>
{% endblock %}
