{% extends 'base.html.twig' %}

{% block title %}Nouvel Artiste{% endblock %}

{% block body %}
    <div class="container mt-2">
        <h2>Nouvel artiste</h2>
        {{ include('artiste/_form.html.twig') }}
    </div>
{% endblock %}
