/*
 * assets/styles/_variables.scss
 */

// $form-check-min-height:                   $font-size-base * $line-height-base !default;
// $form-check-margin-bottom:                .125rem !default;
$form-check-min-height:                   0rem !default;
$form-check-margin-bottom:                0rem !default;

// https://flatuicolors.com/palette/de
$fusion_red:         #fc5c65;
$desire:             #eb3b5a;
$orange_hibiscus:    #fd9644;
$nbeniukon_bronze:   #fa8231;
$flirtatious:        #fed330;
$nyc_taxi:           #f7b731;
$reptile_green:      #26de81;
$algal_fuel:         #20bf6b;
$maximum_blue_green: #2bcbba;
$turquoise_topaz:    #0fb9b1;
$high_blue:          #45aaf2;
$boyzone:            #2d98da;
$c64_ntsc:           #4b7bec;
$royal_blue:         #3867d6;
$lighter_purple:     #a55eea;
$gloomy_purple:      #8854d0;
$twinkle_blue:       #d1d8e0;
$innuendo:           #a5b1c2;
$blue_grey:          #778ca3;
$blue_horizon:       #4b6584;
